@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);


.page {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    background: url(./images/SP_SP_1_he_web_back.png) center no-repeat;

} 
.header__logo {
    position: absolute;
    top:0;
    width: 125px;
    height: 125px;
    padding: 25px;

}
.header__title {
 padding: 50px 0 0 0;
 margin: 0;
 text-align: center;
color: white;  
font-size: 58px;
line-height: 67px;
}

.main__photo {

width: 410px;
height: 630px;
position: absolute;
float:left;
padding-top: 53px;
z-index: 2;
}

.main__notes {
    float: right;
    margin-top: 37px;
    margin-right: 56px;
    height: 329px;
}

.main__items {
display: flex;
justify-content: flex-end;
 align-items: center;
width: 980px;
border-style: none;
color:white;
font-family: 'Arimo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 81px;
}
.main__dot {
    width: 51px;
    height: 51px; 
    margin-left: 33px;
    
}
.main__title {
margin: 0 auto;
width: 400px;
font-family: 'Arimo', sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 28px;
text-align: center;
color:white;
}
.main__phone {
    display: flex;
    margin: 0 auto;
    Width:491px;
    Height:126px;
    color: white;
    background: url(./images/SP_button.png) center no-repeat;
    border-radius: 30px;
    position: relative;
    margin-top: -10px;
}
.main__phone__image {
    margin-left: 49px;
    padding-top: 25px;
    height: 71px;
    width: 71px;
}
.main__phone__number {
    margin: 30px 0 0 45px;
    font-size: 53px;
    line-height: 61px;
    cursor: pointer;
}
.footer__contacts {
    margin-top: 60px;
    margin-right: 60px;
    align-items: start;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    cursor: pointer;
    color: white;
    flex-direction: row;

}
.footer__icon__text {
margin-top: 22px;
font-family: 'Arimo', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
float: left;
}
.social__icon {
width: 41px;
height: 40px;
padding: 14px;
}
.footer__copyright {
position: relative;
font-family: 'Arimo', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: center;
color: white;
float: left;
z-index: 3;
margin-left: 6px;
margin-top: -10px;
}